<div class="container-fluid p-4">
  <div class="row justify-content-center">
    <div class="col col-md-10">
      <div class="card border-dark shadow rounded">
        <!-- Cabeçalho -->
        <div class="card-header custom-bg-primary">
          <h3 class="text-center text-white">Lista de Denúncias</h3>
        </div>
        <!-- Corpo -->
        <div class="card-body">
          <table class="table table-hover border">
            <thead class="custom-bg-secondary text-white">
              <tr>
                <th>ID da Denuncia</th>
                <th>Denunciante Nome</th>
                 <th>Motivo</th>
                <th>Situação</th>
                <th class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody >
            @for(denuncia of denuncias; track denuncia.denunciaId ){
              <tr>
                <td>{{ denuncia.denunciaId }}</td>
                <td>{{ denuncia.denuncianteNome }}</td>
                <td>{{ denuncia.denunciaMotivo }}</td>
                <td>{{ denuncia.denunciaSituacao }}</td>
                <td class="text-center">
                  <button class="btn btn-primary btn-sm" (click)="navegarParaDetalhe(denuncia.denunciaId)">
                    <i class="bi bi-eye"></i> Detalhar
                  </button>
                </td>
              </tr>
            }
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
