<pre>{{usuario | json}}</pre>

<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="row text-center p-2 align-items-center justify-content-center" style="width: 60%;">
    <div class="col col-md-6 pt-5">
      <div class="card border-dark shadow rounded">
        <!-- Cabeçalho -->
        <div class="card-header custom-bg-primary">
          <h3 class="text-center text-white pt-2">Cadastro de Usuário</h3>
        </div>
        <!-- Corpo -->
        <div class="card-body">
          <form action="/cadastro" method="POST">
            <!-- Nome -->
            <div class="mb-3">
              <label for="nome" class="form-label text-start d-block">Nome</label>
              <input type="text" id="nome" name="nome" class="form-control border-dark" placeholder="Digite seu nome" required [(ngModel)]="usuario.nome">
            </div>
            <!-- Email -->
            <div class="mb-3">
              <label for="email" class="form-label text-start d-block">E-mail</label>
              <input type="email" id="email" name="email" class="form-control border-dark" placeholder="Digite seu e-mail" required [(ngModel)]="usuario.email">
            </div>
            <!-- CPF -->
            <div class="mb-3">
              <label for="cpf" class="form-label text-start d-block">CPF</label>
              <input type="text" id="cpf" name="cpf" class="form-control border-dark" placeholder="Digite seu CPF" required pattern="\d{11}" title="Digite um CPF válido (apenas números)" [(ngModel)]="usuario.cpf">
            </div>
            <!-- Senha -->
            <div class="mb-3">
              <label for="senha" class="form-label text-start d-block">Senha</label>
              <input type="password" id="senha" name="senha" class="form-control border-dark" placeholder="Digite sua senha" required minlength="6" [(ngModel)]="usuario.password">
            </div>
            <!-- Botões -->
            <div class="text-center">
              <button type="submit" class="btn btn-primary w-100 mb-3" (click)="salvarNovoUsuario()">Cadastrar</button>
            </div>
            <div class="text-center">
              <span>Já tem uma conta?
                <a href="/login" class="text-primary">Faça login</a>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
