<pre>{{pruuSeletor | json}}</pre>
<!-- <pre>{{pruus | json}}</pre> -->
<app-home></app-home>

<div class="container-fluid mt-5 " style="max-width: 1000px;">
  <h3 class="mb-4 text-center custom-bg-primary">Feed do Pombo</h3>

  <div class="card-body ">

    <form class="">
      <div class="row">

        <div class="row mb-3">
          <div class="col-md-4">
            <label for="dataInicio">Data Início</label>
            <input type="date" class="form-control" id="dataInicio" [(ngModel)]="pruuSeletor.dataInicioCriacao"
              name="dataInicio" />
          </div>

          <div class="col-md-4">
            <label for="dataFim">Data Fim</label>
            <input type="date" class="form-control" id="dataFim" [(ngModel)]="pruuSeletor.dataFimCriacao"
              name="dataFim" />
          </div>

          <div class="col-md-4">
            <label for="curtido">Curtido</label>
            <select class="form-control" id="curtido" [(ngModel)]="pruuSeletor.estaCurtido" name="curtido">
              <option [ngValue]="true">Sim</option>
              <option [ngValue]="false">Não</option>
            </select>
          </div>
        </div>

        <div class="row mb-3 ">
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Digite as palavras a serem localizadas..."
              aria-label="Pesquisa" name="texto" [(ngModel)]="pruuSeletor.texto" />
          </div>

          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Digite o usuário a ser localizado..."
              aria-label="Pesquisa" name="texto" [(ngModel)]="pruuSeletor.usuarioId" />
          </div>

        </div>
        <div class="row">
          <div class="col-md-2">
            <label for="pesquisar">&nbsp;</label>
            <button type="button" class="form-control btn btn-outline-dark" (click)="pesquisar()">
              <i class="bi bi-search"></i> Pesquisar
            </button>
          </div>

          <div class="col-md-2">
            <label for="limpar">&nbsp;</label>
            <button type="button" class="form-control btn btn-outline-dark" (click)="limpar()">
              <i class="bi bi-x-circle"></i> Limpar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>


  <div *ngFor="let pruu of pruus" class="message-container  mt-5">
    <div class="message-header">
      <div class="user-avatar"></div>
      <div>
        <span class="user-name">{{ pruu.usuarioNome }}</span>
        <br>
        <span class="message-time">{{ pruu.criadoEm| date:'dd/MM/yyyy HH:mm' }}</span>
      </div>
    </div>
    <p class="message-text">{{ pruu.pruuConteudo }}</p>
    <img *ngIf="pruu.pruuImagem" [src]="pruu.pruuImagem" alt="Ops... parece que o pombo voou!" class="pruu-image">
  <div>
    <span class="btn-like" (click)="atualizarLike(pruu)">
      <i
        class="bi"
        [ngClass]="pruu.estaCurtido ? 'bi-heart-fill' : 'bi-heart'"
      ></i>
      {{ pruu.quantidadeLikes }}
    </span>
  </div>
    <hr>
  </div>




  <!-- Paginação -->
  <!-- <nav aria-label="Navegação de página">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="pruuSeletor.pagina === 1">
        <button class="page-link" (click)="mudarPagina(pruuSeletor.pagina - 1)">Anterior</button>
      </li>
      <li class="page-item" *ngFor="let pagina of paginas" [class.active]="pagina === pruuSeletor.pagina">
        <button class="page-link" (click)="mudarPagina(pagina)">{{ pagina }}</button>
      </li>
      <li class="page-item" [class.disabled]="pruuSeletor.pagina === totalPaginas">
        <button class="page-link" (click)="mudarPagina(pruuSeletor.pagina + 1)">Próxima</button>
      </li>
    </ul>
  </nav> -->
</div>
