
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="row text-center p-2 align-items-center justify-content-center" style="width: 60%;">
    <div class="col col-md-6 pt-5">
      <div class="card border-dark shadow rounded">
        <!-- Cabeçalho -->
        <div class="card-header custom-bg-primary">
          <h3 class="text-center text-white pt-2">O Pombo Social</h3>
        </div>
        <!-- Corpo -->
        <div class="card-body">
          <form #ngForm="ngForm">
            <!-- Campo CPF -->
            <div class="mb-3">
              <label class="form-label" for="email" >Seu E-mail</label>
              <input placeholder="Digite seu login" [ngClass]="(!dto.login && ngForm.dirty) ? 'form-control is-invalid' : 'form-control'"
                [(ngModel)]="dto.login" type="text" class="form-control border-dark" name="email" required />
              <div class="invalid-feedback"> Informe o CPF.</div>
            </div>
            <!-- Campo Senha -->
            <div class="mb-3">
              <label class="form-label" for="senha">Sua senha</label>
              <input placeholder="Digite sua senha" [ngClass]="(!dto.senha && ngForm.dirty) ? 'form-control is-invalid' : 'form-control'"
                [(ngModel)]="dto.senha" type="password" class="form-control border-dark" name="senha" required>
              <div class="invalid-feedback"> Informe a senha.</div>
            </div>
            <!-- Esqueci minha senha -->
            <div class="mb-3 text-center">
              <a href="#" class="text-primary">Esqueci minha senha</a>
            </div>
            <!-- Botões -->
            <div class="text-center">
              <button type="submit" class="btn btn-primary w-100 mb-3" (click)="login()" [disabled]="!ngForm.valid">
                Entrar
              </button>
            </div>
            <div class="text-center">
              <span>Não tem uma conta?
                <button class="btn btn-link text-primary-custom" (click)="cadastro()">Cadastre-se</button>
              </span>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
