<nav class="navbar navbar-expand-lg" style="background-color: #375A7F;">
  <a class="navbar-brand text-white" href="#">
    &nbsp; &nbsp;<i class="bi bi-feather">&nbsp;</i> O pombo
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="/clientes" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Usuários
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/pruu">Buscar Pruus</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/pruu/detalhe">Novo Pruu</a></li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <button class="btn btn-outline-light ml-auto" (click)="logout()"> Logout  </button> &nbsp;&nbsp;
    </ul>
  </div>
</nav>
